*{
    padding: 0px;
    border: none;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-size: 100vw 100vh;
    overflow: auto;
}
.section1{
    background-image: url(https://i.postimg.cc/K8PYw2Vk/Doordashheroboximage.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}
.btn button{
    position: absolute;
    padding: 15px;
    width: 100px;
    border-radius: 20px;
    display: inline-block;
    border: none;
    font-size: 15px;
    background-color: none;
    margin-top: 20px;
}
.logo{
    position: absolute;
    left: 600px;
    margin-top: 20px;
}
.signin{
    color: white;
    background-color: red;
    left: 1100px;
}
.signup{
    background-color: white;
    color: black;
    left: 1210px;
}
.hero-head{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-head p{
    color: white;
    font-size: 30px;
    text-align: center;
}
.hero-head input{
    width: 70%;
    border-radius: 25px;
    padding: 15px;
    border: none;
    margin-top: 20px;
}
.hero-head button{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    font-size: small;
    border: none;
    cursor: pointer;
}
.roles{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 500px;
    width: auto;
}
.roles img{
    height: 180px;
    width: 180px;
}
.dasher, .partner, .best-experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    margin-left: 200px;
}
.dasher img, .partner img, .best-experience img {
    margin-bottom: 10px;
}
.roles a {
    text-decoration: none;
    color: red;
}
.section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
  height: 600px;
}
.restaurant{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 60px;
    width: 300px;
}
.restaurant h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
.restaurant button{
    background-color: red;
    color: white;
    width: 150px;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}
.dashpass{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(231, 203, 227);
    height: 500px;
}
.dash{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 300px;
    margin-right: 60px;
}
.dash h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
.dash button{
    background-color: red;
    color: white;
    width: 150px;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}
.section3 {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://i.postimg.cc/X7BCQXbn/shop-groceries.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.groceries {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.groceries h2{
    margin-bottom: 20px;
}
.groceries button {
    background-color: red;
    color: white;
    width: 150px;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}
.section4 {
    position: relative;
    align-items: center;
    top: 70px;
    height: 580px;
}
.sec4 {
    position: absolute;
    align-items: center;
    width: 300px;
    top: 150px;
    left: 150px;
    margin-right: 60px;
}
.section4 img{
    position: absolute;
    left: 550px;
}
.sec4 h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
.sec4 button{
    background-color: red;
    color: white;
    width: 150px;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}
.section5 {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(231, 203, 227);
}
.section5  h2 {
    width: 100%;
    text-align: center;
}
.sec5a, .sec5b, .sec5c, .sec5d {
    width: 45%;
    display: flex;
    padding-bottom: 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.sec5a img, .sec5b img, .sec5c img, .sec5d img {
    width: 80%;
    height: auto;
}
.sec5a button, .sec5b button, .sec5c button, .sec5d button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
}
.section6 {
    position: relative;
    align-items: center;
    top: 70px;
    height: 650px;
}
.section6 h3{
    text-align: center;
    padding-bottom: 50px;
    font-size: 30px;
}
.sec6 {
    position: absolute;
    align-items: center;
    width: 300px;
    top: 200px;
    left: 150px;
    margin-right: 60px;
}
.section6 img{
    position: absolute;
    left: 550px;
    z-index: 1;
}
.sec6 h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
.sec6 button{
    background-color: red;
    color: white;
    width: 180px;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}
.section7 {
    position: relative;
    align-items: center;
    background-color: rgb(231, 203, 227);
    height: 600px;
}
.sec7 {
    position: absolute;
    align-items: center;
    width: 300px;
    top: 200px;
    left: 950px;
    margin-right: 60px;
}
.section7 img{
    padding-top: 70px;
    position: absolute;
    left: 100px;
}
.sec7 h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
.sec7 button{
    background-color: red;
    color: white;
    width: 180px;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    padding: 40px;
}
.sec-i, .sec-ii, .sec-iii, .sec-iv  {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.sec-iv {
    width: auto !important;
    height: 20% !important; 
    display: flex !important; 
    flex-direction: row !important; 
    align-items: flex-start !important;
    font-size: 10px;
}
.sec-i p, .sec-ii p, .sec-iii p {
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
}
.sec-i ul, .sec-ii ul, .sec-iii ul, .sec-iv ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
}
.sec-iv ul {
    padding-right: 0px !important;
    padding: 0px 10px !important;
}
.sec-i li, .sec-ii li, .sec-iii li, .sec-iv li {
    margin-bottom: 10px;
    color: rgb(155, 154, 154);
}
.sec-i li:hover, .sec-ii li:hover, .sec-iii li:hover, .sec-iv li:hover{
    color: white;
    text-decoration: underline;
}
select {
    padding: 5px;
    border-radius: 20px;
}